html,
body {
	height: 100%;
	width: 100%;
}

#map {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #FFFFFF;
}



#mapoperate {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 40px;
	height: auto;
	border: 1px solid #707070;
	z-index: 999;
	border-radius: 5px;
}

#mapoperate ul li {
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-bottom: 1px solid #707070;
}

#mapoperate ul li:last-child {
	border-bottom: none;
}

#mapoperate ul li img {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

#legend {
	position: absolute;
	right: 10px;
	bottom: 10px;
	border-radius: 5px;
	height: auto;
	border: 1px solid #707070;
	padding: 5px;
}

#legend .legendleft {
	display: inline-block;
}

#legend .legendleft .one {
	color: #00FF00;
}

#legend .legendleft .two {
	color: #00FF00;
}

#legend .legendleft .three {
	color: #FF0000;
}

#legend .legendleft .four {
	color: #FF0000;
}

#legend .legendleft .five {
	color: #0b0b0b;
	width: 5px;
	height: 5px;
	display: inline-block;
	background-color: #0b0b0b;
	vertical-align: middle;
	margin: 0 20px;
}

#legend .legendright {
	display: inline-block;
	padding-left: 5px;
}

#legend ul li {
	height: 40px;
	line-height: 40px;
	text-align: left;
}

#legend ul li img {
	width: 30px;
	height: auto;
}

#operate {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 9999;
}

#menu li {
	height: 35px;
	line-height: 35px;
}

#menu li img {
	width: 35px;
	height: 35px;
	cursor: pointer;
}

#menuitem {
	display: none;
	color: #FFFFFF;
}

#menuitem li:first-child {
	border-bottom: none;
	border-radius: 5px 5px 0 0;
}

#menuitem li:last-child {
	border-radius: 0 0 5px 5px;
}

#menuitem li {
	border: 2px solid #707070;
	line-height: 40px;
	height: 40px;
	cursor: pointer;
	padding: 0 25px;
	background-color: rgb(0, 0, 0);
	opacity: 0.5;
	letter-spacing: 2px;
}

#menuitem li:hover {
	color: #00ff01;
}

#screen {
	position: absolute;
	bottom: 10px;
	left: 10px;
	border: 1px solid #707070;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 15px;
	z-index: 9999;
	margin-bottom: 0;
	border-radius: 5px;
}

#screen ul {
	display: inline-block;
}

.my-div-icon {
	font-size: 9px;
	color: #0b0b0b;
	position: absolute;
	top: -10px;
	left: -10px;
}

.my-div-icon-name {
	font-size: 4px;
	color: #707070;
	opacity: 0.4;
	width: 80px !important;
	margin-left: -40px !important;
	margin-top: -15px !important;
	text-align: center;
}

/*.my-div-icon-namepoint {*/
/*	color: #0b0b0b;*/
/*	font-size: 50px;*/
/*	position: absolute;*/
/*	top: -25px;*/
/*}*/
